.button {
    display: inline-block;
    padding: 8px 22px;
    background-color: $portfolio-text-color;
    font-size: 18px;
    color: #fff;
    border-radius: 24px;
    transition: all 500ms ease-in-out;

    &:hover,
    &:focus {
        background-color: #1d1d1d;
    }

    &:active {
        position: relative;
        top: 1px;
    }
}